@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
    font-family:" Montserrat";
    src: url(fonts/Montserrat-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: "roboto";
    src: url(fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}

h1{
    text-align: center;
}
p{
    text-align: center;
}
td{
    width: 300px;
    height:300px;
    text-align: center;
    border-radius: 50px;
}

td:hover{
    font-size: 15px;
}

.blue{
    background-color: #bee1e9;
    font-family: "montserrat";
    
    
}
.pink{
    background-color: rgba(250, 205, 177);
    font-family: "Roboto-italic";
}
.fa-solid{
    font-size: 70px; 
}
.green{
    background-color: hsl(89, 39%, 85%);
    font-family: "Open Sans", sans-serif;
}
.purple{
    background-color: #d2cee9;
    font-family: "Playfair Display", serif;;
}
.grey{
    background-color: #d9dbdb;
    font-family: Arial, Helvetica, sans-serif;
}
.yellow{
    background-color: #fbeab1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}