*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 30px auto;
    padding: 20px;
    background: #ddd;
    display: flex;
    gap: 20px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}


.box1{
    flex: 2;
    height: 350px;
    background: #ff7f7f;
}


.right{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.box2{
    height: 150px;
    background: #c5ff85;
}


.bottom-right{
    display: flex;
    gap: 20px;
}

.box3{
    flex: 1.5;
    height: 180px;
    background: #ffaaf2;
}


.col-4{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box4a, .box4b{
    height: 80px;
    background: #a7b5ff;
}
